.account-card {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background: var(--ion-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 24px 16px;
}

.account-card h3 {
    margin-top: 0 !important;
}

.account-card ion-icon {
    position: absolute;
    right: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (min-width: 768px) {
    ion-content {
        align-self: center;
        max-width: 50% !important;
    }
}

@media only screen and (min-width: 1200px) {
    ion-content {
        align-self: center;
        max-width: 33% !important;
    }
}
