.bottom-drawer {
    position: absolute;
    bottom: -360px;
    width: 100%;
    height: 60vh;
    border-radius: 30px;
    z-index: 1;
    margin: auto;
}

.bottom-drawer div {
    text-align: center;
    padding: 10px;
}

.bottom-drawer div ion-button {
    width: 25% !important;
    height: 8px;
}
