.mt-auto {
    margin-top: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.center-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container button {
    margin-bottom: 1rem;
}

ion-router-link {
    display: flex;
    justify-content: center;
}

.center-items .close-icon {
    position: absolute;
    top: 24px;
    right: 16px;
}

img {
    margin-bottom: -4rem;
}
